@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #f9f7f4;
  --foreground: #2b2b28;

  --card: #ffffff;
  --card-foreground: #2b2b28;

  --popover: #ffffff;
  --popover-foreground: #2b2b28;

  --primary: #72835e; /* Vert mousse */
  --primary-foreground: #fdf8ec;

  --secondary: #a9694c; /* Terre cuite */
  --secondary-foreground: #ffffff;

  --muted: #ece7e0;
  --muted-foreground: #5a5a4d;

  --accent: #d2c6b0;
  --accent-foreground: #2b2b28;

  --destructive: #c9463d;
  --border: #dcd6cc;
  --input: #eee8df;
  --ring: #72835e;

  --sidebar: #ffffff;
  --sidebar-foreground: #2b2b28;
  --sidebar-primary: #72835e;
  --sidebar-primary-foreground: #fdf8ec;
  --sidebar-accent: #a9694c;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #dcd6cc;
  --sidebar-ring: #72835e;
}

.dark {
  --background: #1d1c1a;
  --foreground: #f1f1e6;

  --card: #2a2925;
  --card-foreground: #f1f1e6;

  --popover: #2a2925;
  --popover-foreground: #f1f1e6;

  --primary: #72835e;
  --primary-foreground: #fdf8ec;

  --secondary: #a9694c;
  --secondary-foreground: #ffffff;

  --muted: #3b3a36;
  --muted-foreground: #c2c2b4;

  --accent: #4b473c;
  --accent-foreground: #f1f1e6;

  --destructive: #e26055;
  --border: #45443e;
  --input: #524e45;
  --ring: #8ea080;

  --sidebar: #2a2925;
  --sidebar-foreground: #f1f1e6;
  --sidebar-primary: #72835e;
  --sidebar-primary-foreground: #fdf8ec;
  --sidebar-accent: #a9694c;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #45443e;
  --sidebar-ring: #72835e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
